.contactUs__page {
  padding: 100px 0 50px;
  color: $SAMI_WHITE;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  .head {
    color: $SAMI_GREEN;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  .contact__info {
    font-size: 15px;

    @media (max-width: 767px) {
      font-size: 12px;
    }

    .phone,
    .email {
      display: block;
      margin-bottom: 6px;
    }

    .social__links {
      gap: 10px 20px;
      margin-top: 10px;

      @media (max-width: 767px) {
        justify-content: initial;
      }

      .title,
      .icon {
        font-size: 14px;

        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
  }

  .company__location {
    .text {
      font-size: 15px;

      @media (max-width: 767px) {
        font-size: 12px;
      }

      &.text__light {
        color: #e5e5e5;
      }
    }

    .map {
      display: block;
      width: 480px;

      @media (max-width: 767px) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }
}
