body {
  font-family: "Tajawal", sans-serif;
  background-color: $SAMI_BLUE;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $SAMI_GREEN;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

.home_line {
  position: absolute;
  right: 20%;
  top: 0;
  height: 200%;
  width: 1px;
  background-color: $SAMI_WHITE;
  z-index: 4;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40rem;
    height: 1px;
    background-color: $SAMI_GREEN;

    @media (max-width: 1300px) {
      width: 20rem;
    }
  }

  .arrow {
    position: absolute;
    bottom: -18.5px;
    left: -40rem;
    width: 20px;
    z-index: 5;

    @media (max-width: 1300px) {
      left: -20rem;
    }
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.read__more {
  text-decoration: none;
  color: $SAMI_GREEN;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $SAMI_WHITE;
  }
}

.sami__card {
  border-right: 1px solid $SAMI_WHITE;
  padding-right: 30px;

  @media (max-width: 767px) {
    border-right: none;
    padding-right: 0;
  }

  .top__text {
    color: $SAMI_GREEN;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
    display: block;
  }

  img {
    width: 100%;
  }

  .title {
    color: $SAMI_WHITE;
    margin-top: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }

  .text {
    color: $SAMI_GRAYLIGHT;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    @media (max-width: 767px) {
      padding-right: 50px;
    }

    .cat {
      background-color: $SAMI_GRAY;
      padding: 3px 15px;
      border-radius: 20px;
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      color: $SAMI_WHITE;
    }

    .read__more {
      font-weight: bold;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
}

.swiper-pagination {
  text-align: initial;
}

.swiper-pagination-bullet {
  background-color: $SAMI_WHITE;
  opacity: 1;

  &.swiper-pagination-bullet-active {
    background-color: $SAMI_GREEN;
  }
}

.nav {
  gap: 30px 40px;

  @media (max-width: 767px) {
    gap: 10px 20px;

    .nav-link {
      font-size: 12px !important;
    }
  }
}

.nav-pills .nav-link,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: none;
  color: $SAMI_GREEN;
  font-weight: 700;
  font-size: 15px;
  border-radius: 0;
  padding: 0;
}

.nav-pills .nav-link.active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    height: 2.5px;
    width: 85%;
    background-color: $SAMI_GREEN;
    transition: 0.3s ease-in-out;

    @media (max-width: 767px) {
      height: 1.5px;
      bottom: -5px;
    }
  }
}

.pagination {
  border: 1px solid $SAMI_WHITE;
  width: max-content;
  gap: 20px;
  padding: 0 10px;

  @media (max-width: 767px) {
    gap: 10px;
  }

  .page-link {
    background: none;
    color: $SAMI_WHITE;
    padding: 5px !important;
    font-size: 14px;
    border: none;

    @media (max-width: 767px) {
      font-size: 11px;
    }

    &:hover {
      color: $SAMI_GREEN;
    }
  }
}

.card_collapse {
  position: relative;

  .fa-xmark {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    color: $SAMI_WHITE;
    display: none;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  .more__info {
    display: none;
    text-align: center;
    color: $SAMI_WHITE;
    margin-top: 10px;

    .text {
      font-size: 15px;

      @media (max-width: 767px) {
        font-size: 13px;
      }
    }

    .download__link {
      background-color: $SAMI_GREEN;
      color: $SAMI_WHITE;
      display: block;
      font-size: 15px;
      padding: 10px;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      transition: 0.3s ease-in-out;

      @media (max-width: 767px) {
        font-size: 13px;
        padding: 5px 7px;
      }

      &:hover {
        color: $SAMI_BLUE;
        background-color: $SAMI_WHITE;
      }
    }
  }

  .show__more {
    display: block;
    color: $SAMI_GREEN;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    text-align: center;

    i {
      font-size: 10px;
    }

    &:hover {
      color: $SAMI_WHITE;
    }

    @media (max-width: 767px) {
      font-size: 12px;

      i {
        font-size: 6px;
      }
    }
  }

  &.active {
    .more__info,
    .fa-xmark {
      display: block;
    }
  }

  &.collapse__row.active {
    width: 100%;
    display: flex;
    gap: 20px;

    @media (max-width: 1199px) {
      flex-direction: column;
    }

    .fa-xmark {
      left: 30px;
      top: 30px;
    }

    .main__info {
      flex: 1;
    }

    .more__info {
      flex: 2;
      text-align: initial;

      .download__link {
        margin: 0;
      }
    }
  }

  &.active {
    .more__info,
    .fa-xmark {
      display: block;
    }
  }

  &.collapse__row.active {
    width: 100%;
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    .fa-xmark {
      left: 30px;
      top: 30px;
    }

    .main__info {
      flex: 1;
    }

    .more__info {
      flex: 2;
      text-align: initial;

      .download__link {
        margin: 0;
      }
    }
  }
}

.head__text {
  .head {
    font-size: 20px;
    font-weight: 800;
    color: $SAMI_GREEN;
    margin-bottom: 1px;

    @media (max-width: 767px) {
      font-size: 17px;
    }
  }

  .text {
    font-size: 15px;
    color: $SAMI_WHITE;

    @media (max-width: 767px) {
      font-size: 13px;
    }
  }
}

.download__link {
  background-color: $SAMI_GREEN;
  color: $SAMI_WHITE;
  display: block;
  font-size: 15px;
  padding: 10px;
  width: max-content;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  @media (max-width: 767px) {
    font-size: 13px;
    padding: 5px 7px;
  }

  &:hover {
    color: $SAMI_BLUE;
    background-color: $SAMI_WHITE;
  }
}

.quote {
  .quote__text {
    border: 1px solid $SAMI_GREEN;
    padding: 30px 60px;
    color: $SAMI_WHITE;
    font-size: 18px;
    font-weight: 400;

    @media (max-width: 767px) {
      font-size: 15px;
      padding: 10px 20px;
    }
  }

  .quote__user {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: $SAMI_WHITE;
    font-weight: 500;

    @media (max-width: 767px) {
      gap: 10px;
      margin-top: 20px;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

      @media (max-width: 767px) {
        width: 50px;
        height: 50px;
      }
    }

    .username {
      display: block;
      @media (max-width: 767px) {
        font-size: 13px;
      }
    }

    .user__title {
      display: block;
      font-size: 13px;
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }
  }
}
