body {
  font-family: "Tajawal", sans-serif;
  background-color: $SAMI_BLUE;
  height: 4000px !important;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $SAMI_GREEN;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
