.latest__news {
  margin-top: 200px;

  @media (max-width: 767px) {
    margin-top: 90px;
  }

  .latest__news-content {
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .left__info {
    width: 30%;
    padding-left: 100px;
    display: flex;
    flex-direction: column;

    .head {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: $SAMI_WHITE;

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }

    .link {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $SAMI_WHITE;
    }

    .slider__controls {
      margin-top: 30px;
      display: flex;
      align-items: center;
      gap: 30px;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding-left: 20px;
      margin-bottom: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .link {
        display: none;
      }

      .slider__controls {
        gap: 15px;
        margin-top: 0;
        padding-right: 30px;

        img {
          width: 10px;
        }
      }
    }
  }

  .slider {
    width: 70%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 400px;
      height: 100%;
      z-index: 1;
      background: linear-gradient(
        -90deg,
        rgba($SAMI_BLUE, $alpha: 0.8) 10%,
        rgba($SAMI_BLUE, $alpha: 0.01) 100%
      );

      @media (max-width: 767px) {
        width: 60px;
      }
    }

    .swiper-wrapper {
      padding-bottom: 70px;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding-left: 20px;
    }
  }
}
