@import "./colors";

body {
  overflow-x: hidden;
  direction: rtl;
}

.home_line {
  right: initial;
  left: 20%;

  &::after {
    right: initial;
    left: 0;
  }

  .arrow {
    left: initial;
    right: -40rem;

    @media (max-width: 1300px) {
      right: -20rem;
    }
    transform: rotate(180deg);
  }
}

.sidebar {
  left: initial;
  right: -300%;

  &.open {
    right: 0;
  }
}

.hero__section {
  .scroll__down {
    right: initial;
    left: 30px;
  }
}

.latest__news {
  .slider::after {
    right: initial;
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(32, 66, 79, 0.8) 10%,
      rgba(32, 66, 79, 0.01) 100%
    );
  }
}

.sami__card {
  border: none;
  padding-right: 0;
  padding-left: 30px;
  border-left: 1px solid $SAMI_WHITE;
}

.latest__news {
  .left__info {
    padding-left: 0;
    padding-right: 100px;

    @media (max-width: 767px) {
      padding-right: 0;
    }

    .slider__controls {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

footer
  .bottom__footer
  .copyright__section
  .terms__conditions-privacy
  .terms__conditions::after {
  right: initial;
  left: -10px;
}

.topbar {
  .topbar__content {
    .logo {
      text-align: left;
    }

    .right__space {
      .return__website {
        .arrow {
          transform: none;
        }
      }
    }
  }
}

.dictionary {
  .hero__search form {
    .search {
      padding-left: 0;
      padding: 18px 10px;
      padding-right: 50px;

      @media (max-width: 767px) {
        padding: 8px 7px;
        padding-right: 30px;
      }
    }

    i {
      left: initial;
      right: 25px;
    }
  }
}

.card_collapse {
  .fa-xmark {
    left: initial;
    right: 20px;
  }

  &.collapse__row.active {
    .fa-xmark {
      right: 30px;
    }
  }
}

.board__directors {
  .board__directors-swiper {
    .slider-content {
      margin-left: initial !important;
      margin-right: auto;

      @media (max-width: 1199px) {
        padding-left: 0;
        padding-right: 80px;
      }

      @media (max-width: 600px) {
        padding-right: 40px;
      }

      .year {
        left: 0;
        right: -10%;
        transform: translateX(0);
      }
    }

    .slider__controls {
      flex-direction: row-reverse;

      @media (max-width: 1199px) {
        flex-direction: column;
      }
    }

    .swiper-pagination {
      left: initial;
      right: -10px;
      padding-right: 20px;

      .swiper-pagination-bullet::before {
        left: initial;
        right: -20px;
      }
    }
  }
}

.aboutUs__page {
  .aboutUs__intro {
    .left,
    .right {
      padding-left: initial;
      padding-right: 30px;
    }

    &::after {
      left: initial;
      right: 45%;

      @media (max-width: 1250px) {
        left: initial;
        right: 47%;
      }

      @media (max-width: 1199px) {
        left: initial;
        right: 10px;
      }
    }

    &::before {
      left: initial;
      right: calc(45% - 19px);
      transform: rotate(90deg);

      @media (max-width: 1199px) {
        left: initial;
        right: -9px;
      }

      @media (max-width: 767px) {
        left: initial;
        right: -2px;
      }
    }
  }

  .aboutUs__slider {
    .slider__head {
      .slider__controls {
        flex-direction: row-reverse !important;
      }
    }
  }
}

.side__card {
  margin-left: initial;
  margin-right: auto;
}
