.hero__section {
  position: relative;
}
.hero__section header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
.hero__section header .sidebar__btn {
  width: 40px;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
  direction: rtl;
}
.hero__section header .sidebar__btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}
.hero__section header .sidebar__btn span:nth-child(2) {
  width: 90%;
}
.hero__section header .sidebar__btn:hover span:nth-child(2) {
  width: 100%;
  background-color: #70a951;
}
.hero__section header .sidebar__btn.sidebar__btn-close {
  transform: rotate(90deg);
  position: absolute;
  right: 25px;
  top: 30px;
}
@media (max-width: 767px) {
  .hero__section header .sidebar__btn {
    width: 35px;
    height: 20px;
  }
  .hero__section header .sidebar__btn span {
    height: 2px;
  }
}
.hero__section header .sidebar {
  position: absolute;
  left: -300%;
  top: 0;
  width: 600px;
  height: 100vh;
  color: #fff;
  background-color: #222d33;
  padding: 30px;
  transition: 0.5s ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1000;
}
.hero__section header .sidebar.open {
  left: 0;
}
@media (max-width: 767px) {
  .hero__section header .sidebar {
    width: 90%;
  }
}
.hero__section header .sidebar::-webkit-scrollbar {
  width: 4px;
  background-color: #222d33;
}
.hero__section header .sidebar::-webkit-scrollbar-thumb {
  background-color: #70a951;
}
.hero__section header .sidebar .sidebar__list {
  margin-top: 90px;
}
.hero__section header .sidebar .sidebar__list .sidebar__link {
  color: #fff;
  font-size: 32px;
  transition: 0.3s ease-in-out;
  line-height: 1.8;
  display: flex;
  align-items: center;
  gap: 0 12px;
  text-transform: capitalize;
}
.hero__section header .sidebar .sidebar__list .sidebar__link i {
  font-size: 14px;
}
.hero__section header .sidebar .sidebar__list .sidebar__link:hover {
  color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__list .sidebar__link {
    font-size: 25px;
  }
  .hero__section header .sidebar .sidebar__list .sidebar__link i {
    font-size: 12px;
  }
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist {
  margin-top: 0;
  display: none;
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist.active {
  display: block;
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist .sidebar__link {
  font-size: 22px;
  padding-left: 32px;
  position: relative;
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist .sidebar__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  height: 1.3px;
  width: 20px;
  transition: 0.3s ease-in-out;
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist .sidebar__link:hover::after {
  background-color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__list.sidebar__sublist .sidebar__link {
    font-size: 16px;
  }
}
.hero__section header .sidebar .sidebar__important__links .head {
  font-size: 23px;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__important__links .head {
    font-size: 16px;
  }
}
.hero__section header .sidebar .sidebar__important__links .important__list .important__link {
  color: #fff;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 16px;
}
.hero__section header .sidebar .sidebar__important__links .important__list .important__link:hover {
  color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__important__links .important__list .important__link {
    font-size: 12px;
  }
}
.hero__section header .sidebar .search__form {
  position: relative;
}
.hero__section header .sidebar .search__form i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .hero__section header .sidebar .search__form i {
    font-size: 14px;
  }
}
.hero__section header .sidebar .search__form input {
  display: block;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 10px;
  padding-left: 30px;
  color: #fff;
  font-size: 15px;
}
.hero__section header .sidebar .search__form input::placeholder {
  color: #fff;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .search__form input {
    font-size: 13px;
  }
}
.hero__section header .sidebar .sidebar__social__icons .icon {
  font-size: 20px;
  transition: 0.3s ease-in-out;
  color: #fff;
}
.hero__section header .sidebar .sidebar__social__icons .icon:hover {
  color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__social__icons .icon {
    font-size: 14px;
  }
}
.hero__section header .change__lang {
  height: 30px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hero__section header .change__lang:hover {
  color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .change__lang {
    font-size: 12px;
    height: 20px;
  }
}
@media (max-width: 320px) {
  .hero__section header .change__lang {
    font-size: 8px;
  }
}
.hero__section header .sami__logo img,
.hero__section header .wds__logo img {
  width: 140px;
}
@media (max-width: 767px) {
  .hero__section header .sami__logo img,
.hero__section header .wds__logo img {
    width: 80px;
  }
}
.hero__section .slide__content img,
.hero__section .slide__content video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero__section .slide__content .slide__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
@media (max-width: 767px) {
  .hero__section .slide__content .slide__text {
    width: 100%;
    padding: 0 15px;
  }
}
.hero__section .slide__content .slide__text .slide__head {
  font-size: 54px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 23px;
  max-width: 825px;
}
.hero__section .slide__content .slide__text .slide__desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  max-width: 671px;
}
@media (max-width: 767px) {
  .hero__section .slide__content .slide__text .slide__head {
    font-size: 35px;
    line-height: 43px;
    width: 100% !important;
  }
  .hero__section .slide__content .slide__text .slide__desc {
    font-size: 16px;
    line-height: 24px;
    width: 100% !important;
  }
}
.hero__section .scroll__down {
  position: absolute;
  right: 30px;
  bottom: 50px;
  z-index: 100;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hero__section .scroll__down:hover {
  color: #70a951;
}
.hero__section .scroll__down:hover .icon {
  border: 1px solid #70a951;
}
.hero__section .scroll__down .text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  transform: rotate(-90deg) translateX(60px);
}
.hero__section .scroll__down .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .hero__section .scroll__down .text {
    font-size: 12px;
    transform: rotate(-90deg) translateX(33px);
  }
  .hero__section .scroll__down .icon {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}

.about__section {
  color: #fff;
  margin-bottom: 200px;
  position: relative;
  z-index: 5;
}
.about__section .head {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: 700;
}
.about__section .text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  width: 80%;
}
.about__section .read__more {
  font-size: 15px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .about__section {
    margin-top: 10px !important;
    margin-bottom: 100px;
  }
  .about__section .head {
    font-size: 22;
    margin-bottom: 15px;
  }
  .about__section .text {
    font-size: 14px;
  }
  .about__section .read__more {
    font-size: 12px;
  }
}

.subsidiaries__section .head {
  width: 400px;
  color: #70a951;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
}
.subsidiaries__section .subsidiaries__company {
  margin-top: 80px;
  text-align: center;
}
.subsidiaries__section .subsidiaries__company img {
  width: 250px;
}
@media (max-width: 767px) {
  .subsidiaries__section .head {
    width: 100%;
    font-size: 20px;
    line-height: initial;
  }
  .subsidiaries__section .subsidiaries__company {
    margin-top: 20px;
  }
  .subsidiaries__section .subsidiaries__company img {
    width: 100%;
  }
}

.business__units {
  position: relative;
  margin-top: 150px;
}
@media (max-width: 767px) {
  .business__units {
    margin-top: 90px;
  }
}
.business__units .bg__ele__right {
  position: absolute;
  top: -40rem;
  right: 0;
}
.business__units .bg__ele__right img {
  width: 100%;
}
.business__units .bg__ele__left {
  position: absolute;
  bottom: -46rem;
  left: 0;
  z-index: -1;
}
.business__units .bg__ele__left img {
  width: 100%;
}
@media (max-width: 1199px) {
  .business__units .bg__ele__right {
    top: -9rem;
  }
  .business__units .bg__ele__right img {
    width: 300px;
  }
  .business__units .bg__ele__left {
    bottom: -9rem;
  }
  .business__units .bg__ele__left img {
    width: 300px;
  }
}
.business__units .head {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .business__units .head {
    display: none;
  }
}
@media (max-width: 767px) {
  .business__units .units__cards {
    flex-direction: column;
  }
}
.business__units .units__cards .unit {
  width: 20%;
  position: relative;
  display: block;
  text-decoration: none;
}
@media (max-width: 767px) {
  .business__units .units__cards .unit {
    width: 100%;
  }
}
.business__units .units__cards .unit .unit__img img {
  width: 100%;
  object-fit: cover;
}
.business__units .units__cards .unit .unit__img .lg__img {
  height: 850px;
}
@media (max-width: 767px) {
  .business__units .units__cards .unit .unit__img .lg__img {
    display: none;
  }
}
.business__units .units__cards .unit .unit__img .sm__img {
  display: none;
}
@media (max-width: 767px) {
  .business__units .units__cards .unit .unit__img .sm__img {
    display: block;
  }
}
.business__units .units__cards .unit .unit__icon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business__units .units__cards .unit .unit__icon .text {
  color: #fff;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .business__units .units__cards .unit .unit__icon {
    bottom: initial;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .business__units .units__cards .unit .unit__icon img {
    width: 43px;
  }
  .business__units .units__cards .unit .unit__icon .text {
    font-size: 12px;
  }
}
.business__units .units__cards .unit::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}
.business__units .units__cards .unit:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
.business__units .units__cards .unit:hover .unit__icon .text {
  color: #70a951;
}

.board__directors {
  margin-top: 150px;
}
@media (max-width: 600px) {
  .board__directors {
    margin-top: 100px;
  }
}
.board__directors .slider__controls {
  position: absolute;
  left: 46%;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
@media (max-width: 1199px) {
  .board__directors .slider__controls {
    position: initial;
    flex-direction: column;
    gap: 0;
  }
  .board__directors .slider__controls .prev,
.board__directors .slider__controls .next {
    transform: rotate(90deg);
  }
}
.board__directors .slider__controls .prev img,
.board__directors .slider__controls .next img {
  width: 30px;
}
@media (max-width: 600px) {
  .board__directors .slider__controls .prev img,
.board__directors .slider__controls .next img {
    width: 15px;
  }
}
.board__directors .board__directors-swiper {
  color: #fff;
  padding-bottom: 100px;
  width: 100%;
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper {
    padding-bottom: 40px;
  }
}
.board__directors .board__directors-swiper .slider-content {
  position: relative;
  width: 500px;
  margin-left: auto;
}
@media (max-width: 1199px) {
  .board__directors .board__directors-swiper .slider-content {
    width: initial;
    margin-left: 0;
    padding-left: 80px;
  }
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper .slider-content {
    padding-left: 40px;
  }
}
.board__directors .board__directors-swiper .slider-content .year {
  font-size: 14px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: -50px;
}
@media (max-width: 1199px) {
  .board__directors .board__directors-swiper .slider-content .year {
    display: none;
  }
}
.board__directors .board__directors-swiper .slider-content .head {
  color: #70a951;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper .slider-content .head {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
.board__directors .board__directors-swiper .slider-content .text {
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper .slider-content .text {
    font-size: 14px;
  }
}
.board__directors .board__directors-swiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .board__directors .board__directors-swiper .swiper-pagination {
    flex-direction: column;
    gap: 30px;
    width: max-content;
    left: 10px;
    top: 0;
  }
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper .swiper-pagination {
    justify-content: initial;
  }
}
.board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  border: 4px solid #20424f;
  width: 15px;
  height: 15px;
  transition: 0.3s ease-in-out;
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-width: 1px;
  }
}
.board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 24px;
  height: 24px;
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
  }
}
.board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 420px;
  height: 1px;
  background-color: #fff;
  z-index: -1;
}
@media (max-width: 1199px) {
  .board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet:not(:last-child):after {
    top: initial !important;
    left: 50%;
    width: 1px;
    height: 90px;
    transform: translateX(-50%) translateY(0);
  }
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet:not(:last-child):after {
    height: 100px;
  }
}
.board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet::before {
  content: attr(data-before);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}
@media (max-width: 1199px) {
  .board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet::before {
    top: 50%;
    transform: translateY(-50%) translateX(0) rotate(-90deg);
    font-size: 11px;
    left: -20px;
  }
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet::before {
    font-size: 10px;
    top: 100%;
  }
}

.latest__news {
  margin-top: 200px;
}
@media (max-width: 767px) {
  .latest__news {
    margin-top: 90px;
  }
}
@media (max-width: 767px) {
  .latest__news .latest__news-content {
    flex-direction: column;
  }
}
.latest__news .left__info {
  width: 30%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}
.latest__news .left__info .head {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}
@media (max-width: 767px) {
  .latest__news .left__info .head {
    font-size: 20px;
  }
}
.latest__news .left__info .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.latest__news .left__info .slider__controls {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .latest__news .left__info {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .latest__news .left__info .link {
    display: none;
  }
  .latest__news .left__info .slider__controls {
    gap: 15px;
    margin-top: 0;
    padding-right: 30px;
  }
  .latest__news .left__info .slider__controls img {
    width: 10px;
  }
}
.latest__news .slider {
  width: 70%;
  position: relative;
}
.latest__news .slider::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(-90deg, rgba(32, 66, 79, 0.8) 10%, rgba(32, 66, 79, 0.01) 100%);
}
@media (max-width: 767px) {
  .latest__news .slider::after {
    width: 60px;
  }
}
.latest__news .slider .swiper-wrapper {
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .latest__news .slider {
    width: 100%;
    padding-left: 20px;
  }
}

.topbar {
  margin-top: 20px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .topbar {
    margin-bottom: 0px;
  }
}
.topbar .topbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dde1e5;
}
@media (max-width: 991px) {
  .topbar .topbar__content {
    flex-direction: column;
  }
}
.topbar .topbar__content .logo {
  width: 30%;
  text-align: right;
}
.topbar .topbar__content .logo img {
  width: 120px;
}
@media (max-width: 767px) {
  .topbar .topbar__content .logo img {
    width: 90px;
  }
}
.topbar .topbar__content .nav {
  width: 70%;
}
.topbar .topbar__content .right__space {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  width: 40%;
}
@media (max-width: 991px) {
  .topbar .topbar__content .right__space {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .topbar .topbar__content .right__space {
    font-size: 12px;
  }
}
.topbar .topbar__content .right__space .lang__change {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.topbar .topbar__content .right__space .lang__change:hover {
  color: #70a951;
}
.topbar .topbar__content .right__space .return__website {
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.topbar .topbar__content .right__space .return__website .text {
  transition: 0.3s ease-in-out;
}
.topbar .topbar__content .right__space .return__website .arrow {
  transform: rotate(180deg);
}
.topbar .topbar__content .right__space .return__website .arrow img {
  width: 12px;
}
.topbar .topbar__content .right__space .return__website:hover {
  color: #70a951;
}
.topbar .topbar__content .left__space {
  width: 60%;
}
@media (max-width: 991px) {
  .topbar .topbar__content .left__space {
    width: 100%;
  }
}

.dictionary .hero__search {
  background-image: url("../images/points3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 100px 0;
  position: relative;
}
@media (max-width: 767px) {
  .dictionary .hero__search {
    padding: 50px 0;
  }
}
.dictionary .hero__search .sami__vector {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.dictionary .hero__search .sami__vector img {
  width: 350px;
}
@media (max-width: 767px) {
  .dictionary .hero__search .sami__vector img {
    width: 150px;
  }
}
.dictionary .hero__search .head {
  margin-bottom: 0;
  font-size: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .dictionary .hero__search .head {
    font-size: 20px;
  }
}
.dictionary .hero__search .text {
  margin-bottom: 40px;
  display: block;
  font-size: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .dictionary .hero__search .text {
    font-size: 13px;
    margin-bottom: 20px;
  }
}
.dictionary .hero__search form {
  position: relative;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.dictionary .hero__search form .search {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  background-color: #fff;
  padding: 18px 10px;
  padding-left: 50px;
}
@media (max-width: 767px) {
  .dictionary .hero__search form .search {
    padding: 8px 7px;
    padding-left: 30px;
  }
}
.dictionary .hero__search form i {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: #c4c4c4;
}
@media (max-width: 767px) {
  .dictionary .hero__search form i {
    left: 10px;
  }
}
.dictionary .most__searched__terms {
  margin-top: 100px;
  display: flex;
  gap: 15px;
  color: #fff;
  font-weight: bold;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .dictionary .most__searched__terms {
    margin-top: 50px;
    gap: 10px;
  }
  .dictionary .most__searched__terms .text {
    font-size: 14px;
  }
}
.dictionary .most__searched__terms .terms__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .dictionary .most__searched__terms .terms__list {
    gap: 5px;
  }
}
.dictionary .most__searched__terms .terms__list .term {
  color: #fff;
  border: 1px solid #fff;
  font-size: 12px;
  padding: 3px 8px;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .dictionary .most__searched__terms .terms__list .term {
    font-size: 10px;
  }
}
.dictionary .most__searched__terms .terms__list .term:hover, .dictionary .most__searched__terms .terms__list .term.active {
  border-color: #70a951;
  background-color: #70a951;
}
.dictionary .dictionary__items {
  margin-top: 100px;
  color: #fff;
}
@media (max-width: 767px) {
  .dictionary .dictionary__items {
    margin-top: 50px;
  }
}
.dictionary .dictionary__items .filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dictionary .dictionary__items .filter .left .current__filter {
  display: block;
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .dictionary .dictionary__items .filter .left .current__filter {
    font-size: 15px;
  }
}
.dictionary .dictionary__items .filter .right {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 767px) {
  .dictionary .dictionary__items .filter .right .text {
    font-size: 12px;
  }
}
.dictionary .dictionary__items .filter .right form {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.dictionary .dictionary__items .filter .right form select {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  background-color: #122a33;
  font-size: 16px;
  padding: 5px 10px;
}
@media (max-width: 767px) {
  .dictionary .dictionary__items .filter .right form select {
    font-size: 13px;
  }
}
.dictionary .dictionary__items .list {
  margin-top: 20px;
}
.dictionary .dictionary__items .list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #122a33;
  padding: 10px;
}
@media (max-width: 767px) {
  .dictionary .dictionary__items .list .item {
    font-size: 14px;
  }
}
.dictionary .dictionary__items .list .item:not(:last-child) {
  margin-bottom: 10px;
}
.dictionary .dictionary__items .pagination {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .dictionary .dictionary__items .pagination {
    margin-top: 10px;
  }
}

.literal__translation .hero__section {
  color: #fff;
  text-align: center;
  background-image: url("../images/points3.png");
  padding: 100px 0;
}
.literal__translation .hero__section .head {
  font-size: 30px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .literal__translation .hero__section .head {
    font-size: 22px;
  }
}
.literal__translation .hero__section .text {
  font-size: 15px;
}
@media (max-width: 767px) {
  .literal__translation .hero__section .text {
    font-size: 13px;
  }
}
.literal__translation .dictionary_card {
  color: #fff;
  margin-bottom: 25px;
}
.literal__translation .dictionary_card .head {
  font-size: 20px;
}
@media (max-width: 767px) {
  .literal__translation .dictionary_card .head {
    font-size: 16px;
  }
}
.literal__translation .dictionary_card .box {
  background-color: #122a33;
  padding: 30px 60px;
}
@media (max-width: 767px) {
  .literal__translation .dictionary_card .box {
    padding: 15px 30px;
  }
}
.literal__translation .dictionary_card .box .text {
  font-size: 15px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .literal__translation .dictionary_card .box .text {
    font-size: 13px;
    margin-bottom: 15px;
  }
}
.literal__translation .dictionary_card .box .example .title {
  font-size: 13px;
}
@media (max-width: 767px) {
  .literal__translation .dictionary_card .box .example .title {
    font-size: 11px;
    margin-bottom: 4px;
  }
}
.literal__translation .dictionary_card .box .example .list .item {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .literal__translation .dictionary_card .box .example .list .item {
    font-size: 14px;
  }
}
.literal__translation .dictionary_card.white .box {
  background-color: #fff;
  color: #20424f;
}
.literal__translation .contact__us__email .text {
  color: #fff;
  font-size: 15px;
}
@media (max-width: 767px) {
  .literal__translation .contact__us__email .text {
    font-size: 13px;
  }
}

.leadership__page {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .leadership__page {
    padding: 30px 0;
  }
}
.leadership__page .nav {
  position: relative;
}
.leadership__page .nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  z-index: -1;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .leadership__page .nav::after {
    bottom: -5px;
  }
}
@media (max-width: 767px) {
  .leadership__page .nav .nav-item {
    width: calc(50% - 10px);
  }
  .leadership__page .nav .nav-item .nav-link {
    width: 100%;
  }
}
.leadership__page .nav .nav-link.active::after {
  width: 100%;
}
@media (max-width: 767px) {
  .leadership__page .nav .nav-link.active::after {
    width: 100%;
  }
}
.leadership__page .leadership__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 100px 20px;
  margin-top: 70px;
}
@media (max-width: 767px) {
  .leadership__page .leadership__cards {
    gap: 50px 0;
  }
}

.leadership__card {
  position: relative;
  padding-top: 20px;
}
.leadership__card.have__bg {
  box-shadow: 3.67694px 75.911px 350px rgba(0, 0, 0, 0.14), 2.3832px 49.2016px 204.977px rgba(0, 0, 0, 0.106296), 1.4163px 29.2398px 111.481px rgba(0, 0, 0, 0.085037), 0.735388px 15.1822px 56.875px rgba(0, 0, 0, 0.07), 0.299602px 6.18534px 28.5185px rgba(0, 0, 0, 0.054963), 0.0680915px 1.40576px 13.7731px rgba(0, 0, 0, 0.0337037);
  width: max-content;
  padding: 100px 20px;
}
@media (max-width: 767px) {
  .leadership__card.have__bg {
    width: 100%;
    padding: 50px 10px;
  }
}
.leadership__card.card__single {
  margin-left: auto;
  margin-right: auto;
}
.leadership__card .fa-xmark {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  color: #fff;
  display: none;
}
@media (max-width: 767px) {
  .leadership__card .fa-xmark {
    font-size: 12px;
  }
}
.leadership__card .main__info {
  text-align: center;
}
.leadership__card .main__info .card__img {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .leadership__card .main__info .card__img {
    margin-bottom: 15px;
  }
}
.leadership__card .main__info .card__img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .leadership__card .main__info .card__img img {
    width: 140px;
    height: 140px;
  }
}
.leadership__card .main__info .title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2px;
}
@media (max-width: 767px) {
  .leadership__card .main__info .title {
    font-size: 15px;
  }
}
.leadership__card .main__info .position {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .leadership__card .main__info .position {
    font-size: 14px;
  }
}
.leadership__card .main__info .show__more {
  display: block;
  color: #70a951;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.leadership__card .main__info .show__more i {
  font-size: 10px;
}
.leadership__card .main__info .show__more:hover {
  color: #fff;
}
@media (max-width: 767px) {
  .leadership__card .main__info .show__more {
    font-size: 12px;
  }
  .leadership__card .main__info .show__more i {
    font-size: 6px;
  }
}
.leadership__card .more__info {
  display: none;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.leadership__card .more__info .text {
  font-size: 15px;
}
@media (max-width: 767px) {
  .leadership__card .more__info .text {
    font-size: 13px;
  }
}
.leadership__card .more__info .download__link {
  background-color: #70a951;
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 10px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .leadership__card .more__info .download__link {
    font-size: 13px;
    padding: 5px 7px;
  }
}
.leadership__card .more__info .download__link:hover {
  color: #20424f;
  background-color: #fff;
}
.leadership__card.active .more__info,
.leadership__card.active .fa-xmark {
  display: block;
}
.leadership__card.collapse__row.active {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .leadership__card.collapse__row.active {
    flex-direction: column;
  }
}
.leadership__card.collapse__row.active .fa-xmark {
  left: 30px;
  top: 30px;
}
.leadership__card.collapse__row.active .main__info {
  flex: 1;
}
.leadership__card.collapse__row.active .more__info {
  flex: 2;
  text-align: initial;
}
.leadership__card.collapse__row.active .more__info .download__link {
  margin: 0;
}

.samigroup__page {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .samigroup__page {
    padding: 30px 0;
  }
}
.samigroup__page .nav {
  position: relative;
}
.samigroup__page .nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  z-index: -1;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .samigroup__page .nav::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .samigroup__page .nav .nav-item {
    width: calc(50% - 10px);
  }
  .samigroup__page .nav .nav-item .nav-link {
    width: 100%;
  }
}
.samigroup__page .nav .nav-link.active::after {
  width: 100%;
}
@media (max-width: 767px) {
  .samigroup__page .nav .nav-link.active::after {
    width: 100%;
  }
}
.samigroup__page .cards_content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 70px 20px;
}
.samigroup__page .cards_content .card_collapse {
  width: calc(33.3333333333% - 20px);
}
@media (max-width: 1199px) {
  .samigroup__page .cards_content .card_collapse {
    width: calc(50% - 20px);
  }
}
@media (max-width: 767px) {
  .samigroup__page .cards_content .card_collapse {
    width: 100%;
  }
}
.samigroup__page .cards_content .card__img {
  text-align: center;
}
.samigroup__page .cards_content .card__img img {
  width: 300px;
}

.aboutUs__page .aboutUs__intro {
  padding: 100px 0;
  color: #fff;
  position: relative;
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUs__intro {
    padding: 50px 0;
  }
}
.aboutUs__page .aboutUs__intro::after {
  content: "";
  position: absolute;
  left: 45%;
  top: 100px;
  width: 1px;
  height: calc(100% - 100px);
  background-color: #fff;
}
@media (max-width: 1250px) {
  .aboutUs__page .aboutUs__intro::after {
    left: 47%;
  }
}
@media (max-width: 1199px) {
  .aboutUs__page .aboutUs__intro::after {
    left: 10px;
  }
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUs__intro::after {
    top: 50px;
    height: calc(100% - 50px);
  }
}
.aboutUs__page .aboutUs__intro::before {
  content: "";
  position: absolute;
  left: calc(45% - 19px);
  bottom: -26px;
  background-image: url("../images/Homepage/arrow1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}
@media (max-width: 1199px) {
  .aboutUs__page .aboutUs__intro::before {
    left: -9px;
  }
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUs__intro::before {
    width: 25px;
    height: 25px;
    left: -2px;
    bottom: -18px;
  }
}
.aboutUs__page .aboutUs__intro .left {
  display: flex;
  flex-direction: column;
  gap: 200px;
  width: 500px;
}
@media (max-width: 1199px) {
  .aboutUs__page .aboutUs__intro .left {
    width: 100%;
    padding-left: 30px;
    gap: 20px;
  }
}
.aboutUs__page .aboutUs__intro .right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 500px;
}
@media (max-width: 1199px) {
  .aboutUs__page .aboutUs__intro .right {
    width: 100%;
    padding-left: 30px;
  }
}
.aboutUs__page .head__text .head {
  font-size: 20px;
  font-weight: 800;
  color: #70a951;
  margin-bottom: 1px;
}
@media (max-width: 767px) {
  .aboutUs__page .head__text .head {
    font-size: 17px;
  }
}
.aboutUs__page .head__text .text {
  font-size: 15px;
  color: #fff;
}
@media (max-width: 767px) {
  .aboutUs__page .head__text .text {
    font-size: 13px;
  }
}
.aboutUs__page .aboutUs__slider {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUs__slider {
    margin-top: 50px;
  }
}
.aboutUs__page .aboutUs__slider .slider__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUs__slider .slider__head {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 30px;
  }
}
.aboutUs__page .aboutUs__slider .slider__head .head {
  font-size: 40px;
  font-weight: 700;
  color: #70a951;
  max-width: 700px;
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUs__slider .slider__head .head {
    font-size: 28px;
  }
}
.aboutUs__page .aboutUs__slider .slider__head .slider__controls {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUs__slider .slider__head .slider__controls {
    gap: 15px;
  }
  .aboutUs__page .aboutUs__slider .slider__head .slider__controls .prev img,
.aboutUs__page .aboutUs__slider .slider__head .slider__controls .next img {
    width: 10px;
  }
}
.aboutUs__page .aboutUs__slider .aboutUs__slider-swiper img {
  width: 100%;
}
.aboutUs__page .aboutUS__tabs {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUS__tabs {
    margin-top: 50px;
  }
}
.aboutUs__page .aboutUS__tabs .head {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 60px;
  max-width: 800px;
  color: #fff;
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUS__tabs .head {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
.aboutUs__page .aboutUS__tabs .nav {
  margin-bottom: 50px !important;
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUS__tabs .nav {
    margin-bottom: 30px !important;
  }
}
.aboutUs__page .aboutUS__tabs .tab-content .items {
  display: flex;
  align-items: flex-start;
  gap: 30px 10px;
  color: #fff !important;
  flex-wrap: wrap;
}
.aboutUs__page .aboutUS__tabs .tab-content .items .icon__collapse-container {
  width: calc(20% - 10px);
}
@media (max-width: 1199px) {
  .aboutUs__page .aboutUS__tabs .tab-content .items .icon__collapse-container {
    width: calc(33.3333333333% - 10px);
  }
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUS__tabs .tab-content .items .icon__collapse-container {
    width: calc(50% - 10px);
  }
}
@media (max-width: 500px) {
  .aboutUs__page .aboutUS__tabs .tab-content .items .icon__collapse-container {
    width: 100%;
  }
}
.aboutUs__page .aboutUS__tabs .tab-content .items .icon__collapse-container .icon__collapse {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #70a951;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
.aboutUs__page .aboutUS__tabs .tab-content .items .icon__collapse-container .icon__collapse .icon img {
  width: 50px;
}
.aboutUs__page .aboutUS__tabs .tab-content .items .icon__collapse-container .collapse {
  border-top: 1px solid #fff;
  padding-top: 10px;
  color: #fff !important;
}
.aboutUs__page .aboutUS__tabs .tab-content .items .icon__collapse-container .collapse .text {
  color: #fff !important;
  font-size: 12px;
  font-weight: 400;
}

footer {
  margin-top: 100px;
}
footer .top__footer {
  border-top: 1px solid #c4c4c4;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  footer .top__footer {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
footer .top__footer .head {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #dee2e6;
  margin-bottom: 10px;
}
footer .top__footer .links .link {
  color: #e5e5e5;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
footer .top__footer .text {
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #e5e5e5;
}
footer .top__footer .social__links {
  display: flex;
  align-items: center;
  gap: 20px 30px;
}
@media (max-width: 767px) {
  footer .top__footer .social__links {
    gap: 10px;
    justify-content: space-between;
  }
}
footer .top__footer .social__links .title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
footer .top__footer .social__links .list {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .top__footer .social__links .list .icon {
  color: #fff;
  font-size: 15px;
  background-color: #2b4958;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  footer .top__footer .social__links .list .icon {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
}
footer .top__footer .social__links .list .icon:hover {
  background-color: #49606c;
}
footer .top__footer .brand {
  text-align: center;
}
footer .top__footer .brand img {
  width: 300px;
}
footer .bottom__footer {
  padding: 80px 0 150px;
  background-color: #49606c;
}
@media (max-width: 767px) {
  footer .bottom__footer {
    padding: 30px 0 50px;
  }
}
footer .bottom__footer .head {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  footer .bottom__footer .head {
    font-size: 16px;
  }
}
footer .bottom__footer .brand {
  text-align: center;
}
footer .bottom__footer .brand img {
  width: 200px;
}
@media (max-width: 767px) {
  footer .bottom__footer .brand img {
    width: 100% !important;
  }
}
footer .bottom__footer .copyright__section {
  margin-top: 100px;
  text-align: center;
  color: #fff;
  border-top: 1px solid #fff;
  padding-top: 80px;
}
footer .bottom__footer .copyright__section .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  footer .bottom__footer .copyright__section .text {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
footer .bottom__footer .copyright__section .terms__conditions-privacy {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 767px) {
  footer .bottom__footer .copyright__section .terms__conditions-privacy {
    font-size: 10px;
  }
}
footer .bottom__footer .copyright__section .terms__conditions-privacy .terms__conditions {
  position: relative;
}
footer .bottom__footer .copyright__section .terms__conditions-privacy .terms__conditions::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  height: 10px;
  width: 1.5px;
  background-color: #fff;
}

body {
  font-family: "Tajawal", sans-serif;
  background-color: #20424f;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #70a951;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 95%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
.home_line {
  position: absolute;
  right: 20%;
  top: 0;
  height: 200%;
  width: 1px;
  background-color: #fff;
  z-index: 4;
}
.home_line::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40rem;
  height: 1px;
  background-color: #70a951;
}
@media (max-width: 1300px) {
  .home_line::after {
    width: 20rem;
  }
}
.home_line .arrow {
  position: absolute;
  bottom: -18.5px;
  left: -40rem;
  width: 20px;
  z-index: 5;
}
@media (max-width: 1300px) {
  .home_line .arrow {
    left: -20rem;
  }
}
@media (max-width: 992px) {
  .home_line {
    display: none;
  }
}

.read__more {
  text-decoration: none;
  color: #70a951;
  transition: 0.3s ease-in-out;
}
.read__more:hover {
  color: #fff;
}

.sami__card {
  border-right: 1px solid #fff;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .sami__card {
    border-right: none;
    padding-right: 0;
  }
}
.sami__card .top__text {
  color: #70a951;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 14px;
  display: block;
}
.sami__card img {
  width: 100%;
}
.sami__card .title {
  color: #fff;
  margin-top: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.sami__card .text {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.sami__card .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .sami__card .links {
    padding-right: 50px;
  }
}
.sami__card .links .cat {
  background-color: #626e7b;
  padding: 3px 15px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
}
.sami__card .links .read__more {
  font-weight: bold;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
}

.swiper-pagination {
  text-align: initial;
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #70a951;
}

.nav {
  gap: 30px 40px;
}
@media (max-width: 767px) {
  .nav {
    gap: 10px 20px;
  }
  .nav .nav-link {
    font-size: 12px !important;
  }
}

.nav-pills .nav-link,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: none;
  color: #70a951;
  font-weight: 700;
  font-size: 15px;
  border-radius: 0;
  padding: 0;
}

.nav-pills .nav-link.active {
  position: relative;
}
.nav-pills .nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  height: 2.5px;
  width: 85%;
  background-color: #70a951;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .nav-pills .nav-link.active::after {
    height: 1.5px;
    bottom: -5px;
  }
}

.pagination {
  border: 1px solid #fff;
  width: max-content;
  gap: 20px;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .pagination {
    gap: 10px;
  }
}
.pagination .page-link {
  background: none;
  color: #fff;
  padding: 5px !important;
  font-size: 14px;
  border: none;
}
@media (max-width: 767px) {
  .pagination .page-link {
    font-size: 11px;
  }
}
.pagination .page-link:hover {
  color: #70a951;
}

.card_collapse {
  position: relative;
}
.card_collapse .fa-xmark {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  color: #fff;
  display: none;
}
@media (max-width: 767px) {
  .card_collapse .fa-xmark {
    font-size: 12px;
  }
}
.card_collapse .more__info {
  display: none;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.card_collapse .more__info .text {
  font-size: 15px;
}
@media (max-width: 767px) {
  .card_collapse .more__info .text {
    font-size: 13px;
  }
}
.card_collapse .more__info .download__link {
  background-color: #70a951;
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 10px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .card_collapse .more__info .download__link {
    font-size: 13px;
    padding: 5px 7px;
  }
}
.card_collapse .more__info .download__link:hover {
  color: #20424f;
  background-color: #fff;
}
.card_collapse .show__more {
  display: block;
  color: #70a951;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-align: center;
}
.card_collapse .show__more i {
  font-size: 10px;
}
.card_collapse .show__more:hover {
  color: #fff;
}
@media (max-width: 767px) {
  .card_collapse .show__more {
    font-size: 12px;
  }
  .card_collapse .show__more i {
    font-size: 6px;
  }
}
.card_collapse.active .more__info,
.card_collapse.active .fa-xmark {
  display: block;
}
.card_collapse.collapse__row.active {
  width: 100%;
  display: flex;
  gap: 20px;
}
@media (max-width: 1199px) {
  .card_collapse.collapse__row.active {
    flex-direction: column;
  }
}
.card_collapse.collapse__row.active .fa-xmark {
  left: 30px;
  top: 30px;
}
.card_collapse.collapse__row.active .main__info {
  flex: 1;
}
.card_collapse.collapse__row.active .more__info {
  flex: 2;
  text-align: initial;
}
.card_collapse.collapse__row.active .more__info .download__link {
  margin: 0;
}
.card_collapse.active .more__info,
.card_collapse.active .fa-xmark {
  display: block;
}
.card_collapse.collapse__row.active {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .card_collapse.collapse__row.active {
    flex-direction: column;
  }
}
.card_collapse.collapse__row.active .fa-xmark {
  left: 30px;
  top: 30px;
}
.card_collapse.collapse__row.active .main__info {
  flex: 1;
}
.card_collapse.collapse__row.active .more__info {
  flex: 2;
  text-align: initial;
}
.card_collapse.collapse__row.active .more__info .download__link {
  margin: 0;
}