body {
  overflow-x: hidden;
  direction: rtl;
}

.home_line {
  right: initial;
  left: 20%;
}
.home_line::after {
  right: initial;
  left: 0;
}
.home_line .arrow {
  left: initial;
  right: -40rem;
  transform: rotate(180deg);
}
@media (max-width: 1300px) {
  .home_line .arrow {
    right: -20rem;
  }
}

.sidebar {
  left: initial;
  right: -300%;
}
.sidebar.open {
  right: 0;
}

.hero__section .scroll__down {
  right: initial;
  left: 30px;
}

.latest__news .slider::after {
  right: initial;
  left: 0;
  background: linear-gradient(90deg, rgba(32, 66, 79, 0.8) 10%, rgba(32, 66, 79, 0.01) 100%);
}

.sami__card {
  border: none;
  padding-right: 0;
  padding-left: 30px;
  border-left: 1px solid #fff;
}

.latest__news .left__info {
  padding-left: 0;
  padding-right: 100px;
}
@media (max-width: 767px) {
  .latest__news .left__info {
    padding-right: 0;
  }
}
.latest__news .left__info .slider__controls {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .latest__news {
    padding: 0 20px;
  }
}

footer .bottom__footer .copyright__section .terms__conditions-privacy .terms__conditions::after {
  right: initial;
  left: -10px;
}

.topbar .topbar__content .logo {
  text-align: left;
}
.topbar .topbar__content .right__space .return__website .arrow {
  transform: none;
}

.dictionary .hero__search form .search {
  padding-left: 0;
  padding: 18px 10px;
  padding-right: 50px;
}
@media (max-width: 767px) {
  .dictionary .hero__search form .search {
    padding: 8px 7px;
    padding-right: 30px;
  }
}
.dictionary .hero__search form i {
  left: initial;
  right: 25px;
}

.card_collapse .fa-xmark {
  left: initial;
  right: 20px;
}
.card_collapse.collapse__row.active .fa-xmark {
  right: 30px;
}

.board__directors .board__directors-swiper .slider-content {
  margin-left: initial !important;
  margin-right: auto;
}
@media (max-width: 1199px) {
  .board__directors .board__directors-swiper .slider-content {
    padding-left: 0;
    padding-right: 80px;
  }
}
@media (max-width: 600px) {
  .board__directors .board__directors-swiper .slider-content {
    padding-right: 40px;
  }
}
.board__directors .board__directors-swiper .slider-content .year {
  left: 0;
  right: -10%;
  transform: translateX(0);
}
.board__directors .board__directors-swiper .slider__controls {
  flex-direction: row-reverse;
}
@media (max-width: 1199px) {
  .board__directors .board__directors-swiper .slider__controls {
    flex-direction: column;
  }
}
.board__directors .board__directors-swiper .swiper-pagination {
  left: initial;
  right: -10px;
  padding-right: 20px;
}
.board__directors .board__directors-swiper .swiper-pagination .swiper-pagination-bullet::before {
  left: initial;
  right: -20px;
}

.aboutUs__page .aboutUs__intro .left,
.aboutUs__page .aboutUs__intro .right {
  padding-left: initial;
  padding-right: 30px;
}
.aboutUs__page .aboutUs__intro::after {
  left: initial;
  right: 45%;
}
@media (max-width: 1250px) {
  .aboutUs__page .aboutUs__intro::after {
    left: initial;
    right: 47%;
  }
}
@media (max-width: 1199px) {
  .aboutUs__page .aboutUs__intro::after {
    left: initial;
    right: 10px;
  }
}
.aboutUs__page .aboutUs__intro::before {
  left: initial;
  right: calc(45% - 19px);
  transform: rotate(90deg);
}
@media (max-width: 1199px) {
  .aboutUs__page .aboutUs__intro::before {
    left: initial;
    right: -9px;
  }
}
@media (max-width: 767px) {
  .aboutUs__page .aboutUs__intro::before {
    left: initial;
    right: -2px;
  }
}
.aboutUs__page .aboutUs__slider .slider__head .slider__controls {
  flex-direction: row-reverse !important;
}

.side__card {
  margin-left: initial;
  margin-right: auto;
}

.slider__controls {
  flex-direction: row-reverse !important;
}

.mediaCenter__page .slider {
  margin-left: 0;
  margin-right: 20px;
}

.mediaCenter__page .slider::after {
  right: initial;
  left: 0;
  background: linear-gradient(90deg, rgba(32, 66, 79, 0.8) 10%, rgba(32, 66, 79, 0.01) 100%);
}

.article__page .content .breadcrump .link:not(:last-child):after {
  right: initial;
  left: -13px;
}

.article__page .content .article__info > li .value .icon::after {
  right: initial;
  left: 25px;
}