.hero__section {
  position: relative;
}
.hero__section header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
.hero__section header .sidebar__btn {
  width: 40px;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
  direction: rtl;
}
.hero__section header .sidebar__btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}
.hero__section header .sidebar__btn span:nth-child(2) {
  width: 90%;
}
.hero__section header .sidebar__btn:hover span:nth-child(2) {
  width: 100%;
  background-color: #70a951;
}
.hero__section header .sidebar__btn.sidebar__btn-close {
  transform: rotate(90deg);
  position: absolute;
  right: 25px;
  top: 30px;
}
@media (max-width: 767px) {
  .hero__section header .sidebar__btn {
    width: 35px;
    height: 20px;
  }
  .hero__section header .sidebar__btn span {
    height: 2px;
  }
}
.hero__section header .sidebar {
  position: absolute;
  left: -300%;
  top: 0;
  width: 600px;
  height: 100vh;
  color: #fff;
  background-color: #222d33;
  padding: 30px;
  transition: 0.5s ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1000;
}
.hero__section header .sidebar.open {
  left: 0;
}
@media (max-width: 767px) {
  .hero__section header .sidebar {
    width: 90%;
  }
}
.hero__section header .sidebar::-webkit-scrollbar {
  width: 4px;
  background-color: #222d33;
}
.hero__section header .sidebar::-webkit-scrollbar-thumb {
  background-color: #70a951;
}
.hero__section header .sidebar .sidebar__list {
  margin-top: 90px;
}
.hero__section header .sidebar .sidebar__list .sidebar__link {
  color: #fff;
  font-size: 32px;
  transition: 0.3s ease-in-out;
  line-height: 1.8;
  display: flex;
  align-items: center;
  gap: 0 12px;
  text-transform: capitalize;
}
.hero__section header .sidebar .sidebar__list .sidebar__link i {
  font-size: 14px;
}
.hero__section header .sidebar .sidebar__list .sidebar__link:hover {
  color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__list .sidebar__link {
    font-size: 25px;
  }
  .hero__section header .sidebar .sidebar__list .sidebar__link i {
    font-size: 12px;
  }
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist {
  margin-top: 0;
  display: none;
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist.active {
  display: block;
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist .sidebar__link {
  font-size: 22px;
  padding-left: 32px;
  position: relative;
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist .sidebar__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  height: 1.3px;
  width: 20px;
  transition: 0.3s ease-in-out;
}
.hero__section header .sidebar .sidebar__list.sidebar__sublist .sidebar__link:hover::after {
  background-color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__list.sidebar__sublist .sidebar__link {
    font-size: 16px;
  }
}
.hero__section header .sidebar .sidebar__important__links .head {
  font-size: 23px;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__important__links .head {
    font-size: 16px;
  }
}
.hero__section header .sidebar .sidebar__important__links .important__list .important__link {
  color: #fff;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 16px;
}
.hero__section header .sidebar .sidebar__important__links .important__list .important__link:hover {
  color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__important__links .important__list .important__link {
    font-size: 12px;
  }
}
.hero__section header .sidebar .search__form {
  position: relative;
}
.hero__section header .sidebar .search__form i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .hero__section header .sidebar .search__form i {
    font-size: 14px;
  }
}
.hero__section header .sidebar .search__form input {
  display: block;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 10px;
  padding-left: 30px;
  color: #fff;
  font-size: 15px;
}
.hero__section header .sidebar .search__form input::placeholder {
  color: #fff;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .search__form input {
    font-size: 13px;
  }
}
.hero__section header .sidebar .sidebar__social__icons .icon {
  font-size: 20px;
  transition: 0.3s ease-in-out;
  color: #fff;
}
.hero__section header .sidebar .sidebar__social__icons .icon:hover {
  color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .sidebar .sidebar__social__icons .icon {
    font-size: 14px;
  }
}
.hero__section header .change__lang {
  height: 30px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hero__section header .change__lang:hover {
  color: #70a951;
}
@media (max-width: 767px) {
  .hero__section header .change__lang {
    font-size: 12px;
    height: 20px;
  }
}
@media (max-width: 320px) {
  .hero__section header .change__lang {
    font-size: 8px;
  }
}
.hero__section header .sami__logo img,
.hero__section header .wds__logo img {
  width: 140px;
}
@media (max-width: 767px) {
  .hero__section header .sami__logo img,
.hero__section header .wds__logo img {
    width: 80px;
  }
}
.hero__section .slide__content img,
.hero__section .slide__content video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero__section .slide__content .slide__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
@media (max-width: 767px) {
  .hero__section .slide__content .slide__text {
    width: 100%;
    padding: 0 15px;
  }
}
.hero__section .slide__content .slide__text .slide__head {
  font-size: 54px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 23px;
  max-width: 825px;
}
.hero__section .slide__content .slide__text .slide__desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  max-width: 671px;
}
@media (max-width: 767px) {
  .hero__section .slide__content .slide__text .slide__head {
    font-size: 35px;
    line-height: 43px;
    width: 100% !important;
  }
  .hero__section .slide__content .slide__text .slide__desc {
    font-size: 16px;
    line-height: 24px;
    width: 100% !important;
  }
}
.hero__section .scroll__down {
  position: absolute;
  right: 30px;
  bottom: 50px;
  z-index: 100;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hero__section .scroll__down:hover {
  color: #70a951;
}
.hero__section .scroll__down:hover .icon {
  border: 1px solid #70a951;
}
.hero__section .scroll__down .text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  transform: rotate(-90deg) translateX(60px);
}
.hero__section .scroll__down .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .hero__section .scroll__down .text {
    font-size: 12px;
    transform: rotate(-90deg) translateX(33px);
  }
  .hero__section .scroll__down .icon {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}

.about__section {
  color: #fff;
  margin-bottom: 200px;
  position: relative;
  z-index: 5;
}
.about__section .head {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: 700;
}
.about__section .text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  width: 80%;
}
.about__section .read__more {
  font-size: 15px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .about__section {
    margin-top: 10px !important;
    margin-bottom: 100px;
  }
  .about__section .head {
    font-size: 22;
    margin-bottom: 15px;
  }
  .about__section .text {
    font-size: 14px;
  }
  .about__section .read__more {
    font-size: 12px;
  }
}

.subsidiaries__section .head {
  width: 400px;
  color: #70a951;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
}
.subsidiaries__section .subsidiaries__company {
  margin-top: 80px;
  text-align: center;
}
.subsidiaries__section .subsidiaries__company img {
  width: 250px;
}
@media (max-width: 767px) {
  .subsidiaries__section .head {
    width: 100%;
    font-size: 20px;
    line-height: initial;
  }
  .subsidiaries__section .subsidiaries__company {
    margin-top: 20px;
  }
  .subsidiaries__section .subsidiaries__company img {
    width: 100%;
  }
}

.business__units {
  position: relative;
  margin-top: 150px;
}
@media (max-width: 767px) {
  .business__units {
    margin-top: 90px;
  }
}
.business__units .bg__ele__right {
  position: absolute;
  top: -45rem;
  right: 0;
}
.business__units .bg__ele__left {
  position: absolute;
  bottom: -46rem;
  left: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .business__units .bg__ele__right {
    top: -9rem;
  }
  .business__units .bg__ele__right img {
    width: 300px;
  }
  .business__units .bg__ele__left {
    bottom: -9rem;
  }
  .business__units .bg__ele__left img {
    width: 300px;
  }
}
.business__units .head {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .business__units .head {
    display: none;
  }
}
@media (max-width: 767px) {
  .business__units .units__cards {
    flex-direction: column;
  }
}
.business__units .units__cards .unit {
  width: 20%;
  position: relative;
  display: block;
  text-decoration: none;
}
@media (max-width: 767px) {
  .business__units .units__cards .unit {
    width: 100%;
  }
}
.business__units .units__cards .unit .unit__img img {
  width: 100%;
  object-fit: cover;
}
.business__units .units__cards .unit .unit__img .lg__img {
  height: 850px;
}
@media (max-width: 767px) {
  .business__units .units__cards .unit .unit__img .lg__img {
    display: none;
  }
}
.business__units .units__cards .unit .unit__img .sm__img {
  display: none;
}
@media (max-width: 767px) {
  .business__units .units__cards .unit .unit__img .sm__img {
    display: block;
  }
}
.business__units .units__cards .unit .unit__icon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business__units .units__cards .unit .unit__icon .text {
  color: #fff;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .business__units .units__cards .unit .unit__icon {
    bottom: initial;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .business__units .units__cards .unit .unit__icon img {
    width: 43px;
  }
  .business__units .units__cards .unit .unit__icon .text {
    font-size: 12px;
  }
}
.business__units .units__cards .unit::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}
.business__units .units__cards .unit:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
.business__units .units__cards .unit:hover .unit__icon .text {
  color: #70a951;
}

.board__directors {
  margin-top: 150px;
}
.board__directors .reshape__line {
  background-color: #fff;
  width: 100%;
  height: 2px;
  position: relative;
  user-select: none;
}
.board__directors .reshape__line .point:nth-child(1) .year {
  right: 0px;
}
.board__directors .reshape__line .point:nth-child(2) .year {
  right: 100px;
}
.board__directors .reshape__line .point:nth-child(3) .year {
  right: 200px;
}
.board__directors .reshape__line .point:nth-child(4) .year {
  right: 300px;
}
.board__directors .reshape__line .point:nth-child(5) .year {
  right: 400px;
}
.board__directors .reshape__line .point:nth-child(6) .year {
  right: 500px;
}
.board__directors .reshape__line .point:nth-child(7) .year {
  right: 600px;
}
.board__directors .reshape__line .point .year {
  position: absolute;
  top: -40px;
  right: 0;
  transform: translateX(12px);
  color: #fff;
  cursor: pointer;
  display: block;
  transition: 0.3s ease-in-out;
}
.board__directors .reshape__line .point .year::after {
  content: "";
  position: absolute;
  bottom: -25px;
  right: 50%;
  transform: translateX(50%);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #20424f;
  transition: 0.3s ease-in-out;
}
.board__directors .reshape__line .point .year::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #70a951;
}
.board__directors .reshape__line .point .year:hover, .board__directors .reshape__line .point .year.active {
  color: #70a951;
}
.board__directors .reshape__line .point .year:hover::after, .board__directors .reshape__line .point .year.active::after {
  background-color: #70a951;
}
.board__directors .reshape__line .point .year.active:before {
  right: 23px;
  bottom: -18px;
  width: 87px;
}
.board__directors .reshape__line .point .year.current::after {
  border: none;
}

.latest__news {
  margin-top: 200px;
}
@media (max-width: 767px) {
  .latest__news {
    margin-top: 90px;
  }
}
@media (max-width: 767px) {
  .latest__news .latest__news-content {
    flex-direction: column;
  }
}
.latest__news .left__info {
  width: 30%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}
.latest__news .left__info .head {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}
@media (max-width: 767px) {
  .latest__news .left__info .head {
    font-size: 20px;
  }
}
.latest__news .left__info .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.latest__news .left__info .slider__controls {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .latest__news .left__info {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .latest__news .left__info .link {
    display: none;
  }
  .latest__news .left__info .slider__controls {
    gap: 15px;
    margin-top: 0;
    padding-right: 30px;
  }
  .latest__news .left__info .slider__controls img {
    width: 10px;
  }
}
.latest__news .slider {
  width: 70%;
  position: relative;
}
.latest__news .slider::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(-90deg, rgba(32, 66, 79, 0.8) 10%, rgba(32, 66, 79, 0.01) 100%);
}
@media (max-width: 767px) {
  .latest__news .slider::after {
    width: 60px;
  }
}
.latest__news .slider .swiper-wrapper {
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .latest__news .slider {
    width: 100%;
    padding-left: 20px;
  }
}

footer {
  margin-top: 100px;
}
footer .top__footer {
  border-top: 1px solid #c4c4c4;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  footer .top__footer {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
footer .top__footer .head {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #dee2e6;
  margin-bottom: 10px;
}
footer .top__footer .links .link {
  color: #e5e5e5;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
footer .top__footer .text {
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #e5e5e5;
}
footer .top__footer .social__links {
  display: flex;
  align-items: center;
  gap: 20px 30px;
}
@media (max-width: 767px) {
  footer .top__footer .social__links {
    gap: 10px;
    justify-content: space-between;
  }
}
footer .top__footer .social__links .title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
footer .top__footer .social__links .list {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .top__footer .social__links .list .icon {
  color: #fff;
  font-size: 15px;
  background-color: #2b4958;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  footer .top__footer .social__links .list .icon {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
}
footer .top__footer .social__links .list .icon:hover {
  background-color: #49606c;
}
footer .top__footer .brand {
  text-align: center;
}
footer .top__footer .brand img {
  width: 300px;
}
footer .bottom__footer {
  padding: 80px 0 150px;
  background-color: #49606c;
}
@media (max-width: 767px) {
  footer .bottom__footer {
    padding: 30px 0 50px;
  }
}
footer .bottom__footer .head {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  footer .bottom__footer .head {
    font-size: 16px;
  }
}
footer .bottom__footer .brand {
  text-align: center;
}
footer .bottom__footer .brand img {
  width: 200px;
}
@media (max-width: 767px) {
  footer .bottom__footer .brand img {
    width: 100% !important;
  }
}
footer .bottom__footer .copyright__section {
  margin-top: 100px;
  text-align: center;
  color: #fff;
  border-top: 1px solid #fff;
  padding-top: 80px;
}
footer .bottom__footer .copyright__section .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  footer .bottom__footer .copyright__section .text {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
footer .bottom__footer .copyright__section .terms__conditions-privacy {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 767px) {
  footer .bottom__footer .copyright__section .terms__conditions-privacy {
    font-size: 10px;
  }
}
footer .bottom__footer .copyright__section .terms__conditions-privacy .terms__conditions {
  position: relative;
}
footer .bottom__footer .copyright__section .terms__conditions-privacy .terms__conditions::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  height: 10px;
  width: 1.5px;
  background-color: #fff;
}

body {
  font-family: "Tajawal", sans-serif;
  background-color: #20424f;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #70a951;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 95%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
.home_line {
  position: absolute;
  right: 20%;
  top: 0;
  height: 200%;
  width: 1px;
  background-color: #fff;
  z-index: 4;
}
.home_line::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40rem;
  height: 1px;
  background-color: #70a951;
}
@media (max-width: 1300px) {
  .home_line::after {
    width: 20rem;
  }
}
.home_line .arrow {
  position: absolute;
  bottom: -18.5px;
  left: -40rem;
  width: 20px;
  z-index: 5;
}
@media (max-width: 1300px) {
  .home_line .arrow {
    left: -20rem;
  }
}
@media (max-width: 992px) {
  .home_line {
    display: none;
  }
}

.read__more {
  text-decoration: none;
  color: #70a951;
  transition: 0.3s ease-in-out;
}
.read__more:hover {
  color: #fff;
}

.sami__card {
  border-right: 1px solid #fff;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .sami__card {
    border-right: none;
    padding-right: 0;
  }
}
.sami__card .top__text {
  color: #70a951;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 14px;
  display: block;
}
.sami__card img {
  width: 100%;
}
.sami__card .title {
  color: #fff;
  margin-top: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.sami__card .text {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.sami__card .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .sami__card .links {
    padding-right: 50px;
  }
}
.sami__card .links .cat {
  background-color: #626e7b;
  padding: 3px 15px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
}
.sami__card .links .read__more {
  font-weight: bold;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
}

.swiper-pagination {
  text-align: initial;
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #70a951;
}